html, body {
    margin: 0;
}
body {
    background-color: #d7d5d5;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color:  #ebe6e6;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color:rgb(240, 212, 193) ;
    padding: 10px 20px 0px;
}
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu ul li {
    margin-bottom: 10px;
}
.menu ul li a {
    text-decoration:none;
    color:black;
    font-weight: bold;
    padding: 10px;
    display: block;
    border-radius: 5px;
}
.menu ul:last-of-type {
    margin-top: 20px;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ffe5cb;
    min-height: 150px;
    font-size: 25px;
}

.content {

    background-color: #ebe6e6;
    color:  #515151;
    font-size: 20px;
    min-height: 300px;
    padding: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ffe5cb;
    min-height: 150px;
    color:  #515151;
    font-size: 15px;
}
